.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialog {

}
.dialog.active{
   color: goldenrod;
}
.messages {

}


.addPostFormText {
    min-width: 60%;
    margin-right: 10px;
}

.addPostFormText textarea {
    width: 100%;
    height: 100%;
}